@model HotelPrenotazioni.Models.Prenotazione

@{
    ViewData["Title"] = "Edit";
}



<h4>Modifica Prenotazione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PrenotazioneId" />
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CameraId" class="control-label"></label>
                <select asp-for="CameraId" class="form-control" asp-items="ViewBag.CameraId"></select>
                <span asp-validation-for="CameraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInizio" class="control-label"></label>
                <input asp-for="DataInizio" class="form-control" />
                <span asp-validation-for="DataInizio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFine" class="control-label"></label>
                <input asp-for="DataFine" class="form-control" />
                <span asp-validation-for="DataFine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stato" class="control-label"></label>
                <input asp-for="Stato" class="form-control" />
                <span asp-validation-for="Stato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Torna alla lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
